.hlr1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23FF0000"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}

.hlg1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23008000"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}

.hln1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23000080"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}

.hly1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23808000"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}

.hlb1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23008080"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}

.hlo1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23E8520B"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}

.hlp1 {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 4 3" height="3" width="4" fill="%23800080"><path d="M 0.29035517,1.4291044 C -0.92396403,-0.1192701 -0.38579998,-0.33810181 0.58454674,0.90550316 2.2240533,3.0067093 2.3955445,2.3505447 3.5620362,1.241324 4.0021271,0.82284017 4.4297825,0.77891784 4.0341445,1.4664179 3.104357,3.0821083 1.9261285,3.5148733 0.29035517,1.4291044 Z" /></svg>') 50% 100% repeat-x transparent;padding-bottom:0;display:inline}


.hlr1:hover, .hlg1:hover, .hln1:hover, .hly1:hover, .hlb1:hover, .hlo1:hover, .hlp1:hover {

cursor: help;

}


#context-menu-nav {
    display: none;
    position: absolute;
    z-index: 65999;

}

#context-menu-ul {


    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    list-style-type: none;
    padding: 0px;
   
    font-size: 0.8em;
}

.context-menu-header {

    font-size:100%;
    background-color: #DDDDDD;
    font-weight:bold;
    padding: 0px 5px;
   
}


.context-menu-break {

    font-size:10%;
    background-color: #DDDDDD;
    font-weight:bold;
    padding: 0px 5px;
   
}

.context-menu-item {
    position: relative;
    float: top;
    padding: 2px 25px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #DEF;
}




.context-menu-ignore {
    padding: 2px 25px;
    cursor: pointer;
}

.context-menu-ignore:hover {
    background-color: #DEF;
}



#context-submenu-ul {
    display: none;
    z-index: 1001;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    list-style-type: none;
    padding: 0px;
    font-size: 0.8em;
}

.context-submenu-ul-left {
    left: 100%;
}
.context-submenu-ul-right {
    right: 100%;
}

.context-submenu-ul-top {
    top: 15px;
}
.context-submenu-ul-bottom {
    bottom: 15px;
}


#context-menu-item-list {
    padding: 2px 25px;
    cursor: pointer;
}

#context-menu-item-list:hover {
    background-color: #DEF;
}


#context-menu-item-list:hover > #context-submenu-ul {
	display:block
}
